# min   hour  dom   month  dow   command
0-58/2  *     *     *      *     echo even minutes
1-59/2  *     *     *      *     echo odd minutes to stderr 1>&2
*       *     *     *      *     sleep 30 && echo "finally :)"
